* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image:url(../img/sfondo.png);
}
.container {
    max-width: 1280px;
    margin: 0px auto;
    background-color: #ffff99;
}
header {
  /* debug */
  background-color: yellow;
  text-align: center;
  /* end debug */
  margin-top: 25px;
  height: 220px;
  width: 1280px;
}
nav {
  /* debug */
  background-color: red;
  text-align: center;
  margin-bottom: 20px;
  /* end debug */
  height: 50px;
}

/* inizio sezione sinistra */

.asidesx {
  float: left;
  width: 290px;
}
#sx1 {
  margin-bottom: 20px;
  /* debug */
  height: 380px;
  background-color: cyan;
  text-align: center;
  /* end debug */
}
#sx2 {
  margin-bottom: 20px;
  /* debug */
  height: 120px;
  background-color: green;
  text-align: center;
  /* end debug */
}
#sx3 {
  /* debug */
  height: 235px;
  background-color: red;
  text-align: center;
  /* end debug */
}

/* fine sezione sinistra */

/* inizio sezione destra */

.asidedx {
  width: 350px;
  float: right;
  display: inline-block;
}
#dx1 {
  margin-bottom: 20px;
  /* debug */
  height: 90px;
  background-color: cyan;
  text-align: center;
  /* end debug */
}
#dx2 {
    /* debug */
  height: 160px;
  background-color: green;
  text-align: center;
  /* end debug */
}

/* fine sezione destra */

main {
  /* debug */
  background-color: orange;
  text-align: center;
  height: 1100px;
  /* end debug */
  width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* inizio sezioni footer */
.endpage {
  background-color: purple;
  height: 330px;
}
.posts {
  width: 210px;
  height: 240px;
  background-color: cyan;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
.comments {
  width: 210px;
  height: 240px;
  background-color: yellow;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
.categories {
  width: 180px;
  height: 210px;
  background-color: lightgreen;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
.text {
  width: 450px;
  height: 220px;
  background-color: pink;
  display: inline-block;
  margin-left: 130px;
  margin-top: 20px;
}
footer {
  /* debug */
  background-color: blue;
  height: 120px;
  text-align: center;
  /* end debug */
  clear: both;
}
